<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <title ng-bind-template="{{query}}">Google Phone Gallery</title>
    <title>FLAT - Dynamic tables</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Bootstrap responsive -->
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <!-- jQuery UI -->
    <link rel="stylesheet" href="css/plugins/jquery-ui/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="css/plugins/jquery-ui/smoothness/jquery.ui.theme.css">
    <!-- dataTables -->
    <link rel="stylesheet" href="css/plugins/datatable/TableTools.css">
    <!-- chosen -->
    <link rel="stylesheet" href="css/plugins/chosen/chosen.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Color CSS -->
    <link rel="stylesheet" href="css/themes.css">

    <script src="lib/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Nice Scroll -->
    <script src="js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- imagesLoaded -->
    <script src="js/plugins/imagesLoaded/jquery.imagesloaded.min.js"></script>
    <!-- jQuery UI -->
    <script src="js/plugins/jquery-ui/jquery.ui.core.min.js"></script>
    <script src="js/plugins/jquery-ui/jquery.ui.widget.min.js"></script>
    <script src="js/plugins/jquery-ui/jquery.ui.mouse.min.js"></script>
    <script src="js/plugins/jquery-ui/jquery.ui.resizable.min.js"></script>
    <script src="js/plugins/jquery-ui/jquery.ui.sortable.min.js"></script>
    <script src="js/plugins/jquery-ui/jquery.ui.datepicker.min.js"></script>
    <!-- slimScroll -->
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Bootbox -->
    <script src="js/plugins/bootbox/jquery.bootbox.js"></script>
    <!-- dataTables -->
    <script src="js/plugins/datatable/jquery.dataTables.min.js"></script>
    <script src="js/plugins/datatable/TableTools.min.js"></script>
    <script src="js/plugins/datatable/ColReorderWithResize.js"></script>
    <script src="js/plugins/datatable/ColVis.min.js"></script>
    <script src="js/plugins/datatable/jquery.dataTables.columnFilter.js"></script>
    <script src="js/plugins/datatable/jquery.dataTables.grouping.js"></script>
    <!-- Chosen -->
    <script src="js/plugins/chosen/chosen.jquery.min.js"></script>

    <!-- Theme framework -->
    <script src="js/eakroko.min.js"></script>
    <!-- Theme scripts -->
    <script src="js/application.min.js"></script>
    <!-- Just for demonstration -->
    <script src="js/demonstration.min.js"></script>

    <!--[if lte IE 9]>
    <script src="js/plugins/placeholder/jquery.placeholder.min.js"></script>
    <script>
        $(document).ready(function () {
            $('input, textarea').placeholder();
        });
    </script>
    <![endif]-->
</head>
<body>
<div class="container-fluid" id="content">
    <div id="left">
      <div style="font-weight: bold;margin: 5px 5px 5px 5px">
        Content here goes away when screen gets to small like a iPad
      </div>
    </div>
    <div id="main">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="box box-color box-bordered">
                        <div class="box-title">
                            <h3>
                                List Usergroup
                            </h3>

                        </div>
                        <div class="box-content nopadding">
                            <div class="dataTables_wrapper">
                                <div id="DataTables_Table_8_length" class="dataTables_length"><label>
                                    <div class="input-mini">
                                        <select size="1" name="DataTables_Table_8_length" aria-controls="DataTables_Table_8" id="selWUV" style="display: none;"
                                                class="chzn-done">
                                            <option value="10" selected="selected">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>

                                        <div id="selWUV_chzn" class="chzn-container chzn-container-single chzn-container-single-nosearch" style="width: 60px;" title=""><a
                                                href="javascript:void(0)" class="chzn-single" tabindex="-1"><span>10</span>

                                            <div><b></b></div>
                                        </a>

                                            <div class="chzn-drop" style="left: -9000px; width: 58px; top: 31px;">
                                                <div class="chzn-search"><input type="text" autocomplete="off" style="width: 23px;"></div>
                                                <ul class="chzn-results">
                                                    <li id="selWUV_chzn_o_0" class="active-result result-selected" style="">10</li>
                                                    <li id="selWUV_chzn_o_1" class="active-result" style="">25</li>
                                                    <li id="selWUV_chzn_o_2" class="active-result" style="">50</li>
                                                    <li id="selWUV_chzn_o_3" class="active-result" style="">100</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <span>entries per page</span></label></div>
                                <div class="dataTables_filter" id="DataTables_Table_8_filter"><label><span>Search:</span> <input ng-model="query"
                                                                                                                                 placeholder="Search here..."></label>
                                </div>

                                <table class="table table-hover table-nomargin table-bordered" ng-controller="UserGroupListCtrl">
                                    <thead>
                                    <tr class='thefilter'>
                                        <th class='with-checkbox'></th>
                                        <th>ID <input ng-model="onlabel.id"></th>
                                        <th>Name <input ng-model="onlabel.name"></th>
                                        <th class='hidden-350'>Status</th>
                                        <th class='hidden-1024'>Usergroup since</th>
                                        <th class='hidden-480'>Options</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="usergroup in usergroups | filter:query | filter:onlabel:strict ">
                                    <tr>
                                        <td class="with-checkbox">
                                            <input type="checkbox" name="check" value="1">
                                        </td>
                                        <td>{{usergroup.id}}</td>
                                        <td>{{usergroup.name}}</td>
                                        <td class='hidden-350'><span class="label label-satgreen">Active</span></td>
                                        <td class='hidden-1024'>03-07-2013</td>
                                        <td class='hidden-480'>
                                            <a href="#" class="btn" rel="tooltip" title="View"><i class="icon-file"></i></a>
                                            <a href="#" class="btn" rel="tooltip" title="Edit"><i class="icon-edit"></i></a>
                                            <a href="#" class="btn" rel="tooltip" title="Delete"><i class="icon-remove"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="dataTables_info" id="DataTables_Table_1_info">Showing <span>1</span> to <span>10</span> of <span>18</span> entries</div>
                                <div class="dataTables_paginate paging_full_numbers" id="DataTables_Table_1_paginate"><a tabindex="0"
                                                                                                                         class="first paginate_button paginate_button_disabled"
                                                                                                                         id="DataTables_Table_1_first">First</a><a tabindex="0"
                                                                                                                                                                   class="previous paginate_button paginate_button_disabled"
                                                                                                                                                                   id="DataTables_Table_1_previous">Previous</a><span><a
                                        tabindex="0" class="paginate_active">1</a><a tabindex="0" class="paginate_button">2</a></span><a tabindex="0" class="next paginate_button"
                                                                                                                                         id="DataTables_Table_1_next">Next</a><a
                                        tabindex="0" class="last paginate_button" id="DataTables_Table_1_last">Last</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
